
{% if user.is_authenticated %}
{% load static %}

<head>
    <title>Insert Publisher</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "dd MM yyyy - hh:ii"
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a class="navbar-brand" href="/home">Somsri Bookstore</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navb">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Insert
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/insert_book">Book</a>
                        <a class="dropdown-item" href="/insert_author">Author</a>
                        <a class="dropdown-item" href="/insert_publisher">Publisher</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Update
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/update_book">Book</a>
                        <a class="dropdown-item" href="/update_author">Author</a>
                        <a class="dropdown-item" href="/update_publisher">Publisher</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Delete
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/delete_book">Book</a>
                        <a class="dropdown-item" href="/delete_author">Author</a>
                        <a class="dropdown-item" href="/delete_publisher">Publisher</a>
                    </div>
                </li>
            </ul>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">User: {{user.username}}</a>
                <div class="dropdown-menu">
                  <a class="nav-link" href="/logout">Log Out</a>

                </div>
              </li>
        </div>
    </nav>
    <div class="container">
        <h2>Insert publisher</h2>
        <p>insert publisher to the database</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label >Publisher name:</label>
                <input type="text" class="form-control"  name="pub_name">
            </div>
            <div class="form-group">
                <label >Address:</label>
                <textarea class="form-control" rows="5" name="address"></textarea>
            </div>
            <div class="form-group">
                <label >Country:</label>
                <input type="text" class="form-control"  name="pub_country">
            </div>
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
    </div>
</body>
{% else %}
<li class="nav-item">
    <a class="nav-link" href="/accounts/login">Log In</a>
</li>
<h1></h1>
<h1></h1>
<h1><center>Please login!</center></h1>

{% endif %}